span {
  text-decoration: underline;
}

h2 {
  margin: 20px 10px;
}

fieldset {
  line-height: 7px;
  padding: 20px;
}

a {
  color: purple;
}

#friends-list {
  margin: 0;
}

.item-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 6%;
}

.item-container {
  display: flex;
  width: 23%;
  flex-direction: column;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.inner-text {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 200px;
}

.single-user-container {
  margin: 0 6%;
  border-style: solid;
  border-width: 0.8px;
  border-color: darkgrey;
}

.info-field {
  flex-grow: 2;
  margin-left: 1.5%;
}

.view-history {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.friends-container {
  margin: 0;
}

.history-link {
  color: purple;
  cursor: pointer;
}
