span {
  text-decoration: underline;
}

h2 {
  margin: 20px 10px;
}

fieldset {
  line-height: 7px;
  padding: 20px;
}

a {
  color: purple;
}

.item-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 6%;
}

.item-container {
  width: 23%;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.item-container img {
  width: 100%;
  height: auto;
}

.inner-text {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 200px;
}

.single-user-container {
  margin: 0 6%;
  border-style: solid;
  border-width: 0.8px;
  border-color: darkgrey;
}

.info-field {
  flex-grow: 2;
  margin-left: 1.5%;
}

.view-history {
  color: purple;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.friends-container {
  margin: 0;
}

.history-link {
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
}

@media (max-width: 990px) {
  .item-wrapper {
    margin: 1%;
  }

  .item-container {
    width: 47%;
    margin: 10px 5px;
  }

  .header {
    flex-direction: column;
    height: auto;
  }
}
